<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <header>
        <div class="header1">
            <div>
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
            </div>
            <input type="text">
            <div class="lupaSearch">
                <i class="fas fa-search"></i>
            </div> 
            <p> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div> 
        <nav>
            <ul>
                <li><a href="">Oferta</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compra</a><i class="fas fa-shopping-basket"></i></li>
             </ul>
        </nav>
        <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
       <div><img src=".\images\img-home-banner.jpg" alt="homeBanner"></div>
        <section>
            <h2 class="titVisitOfer">Basado en tu última visita</h2>
            <article>
                <img src="\images\img-cafetera-moulinex.jpg" alt="">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="\images\img-macbook-pro-2019.jpg" alt="">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h4 class="descripcion">MacBook Pro 2019</h4> 
            </article>
            <article>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4> 
            </article>
            <article>
                <img src="\images\img-tv-samsung-smart.jpg" alt="">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4> 
            </article>
        </section>
        <section>
            <h2 class="titVisitOfer">Sección de Ofertas</h2>
            <article>
                <img src="\images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="\images\img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="\images\img-tv-samsung-smart.jpg" alt="magen SmarTv">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>

    <footer>
        <article class="centrado">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="centrado">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="centrado">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </article>
        <p>Copyright C 1999-2020 MercadoLiebre S.R.L </p>

    </footer>
        
</body>
</html>